
.news-letter { 
    padding: 40px;
    margin: 20px 0;
}

.news-letter-container { 
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 500px;
    background-color: #d1f6e2;
}

.news-letter-img-wrapper { 
    width: 50%;
}

.news-letter-image { 
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.news-letter-content { 
    width: 50%;
    align-self: center;
    text-align: center;
    padding: 15px;
}

.news-letter-title { 
color: var(--primary-text-color);
font-size: 30px;
}

.news-letter-desc { 
    margin: 20px 0;
    font-size: 17px;
    font-weight: 500;
}

.news-letter input { 
    margin-top: 15px;
}

.news-letter input { 
    border: 2px solid gray;
    padding: 15px;
    font-size: 21px;
    outline: none;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}

.news-letter-btn { 
    border: 2px solid gray;
    padding: 15px 40px;
    font-size: 21px;
    width: 100%;
    border-radius: 60px;
    outline: none;
    cursor: pointer;
    background-color: blue;
    color: white;
}

@media(max-width:720px) { 
    .news-letter-img-wrapper { 
        display: none;
    }

    .news-letter-content { 
        width: 100%;
        padding: 17px;
    }
}

